@page
@model Alohaa.Pages.bra.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pogi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pogi.Tittle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pogi.Tittle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pogi.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pogi.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pogi.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pogi.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pogi.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pogi.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.pogi.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
